@use "./partials/variables" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $text-color;
}

nav {
    color: white;
    background-color: black;
    box-shadow: 0px 0px 10px white;
}
main {
    height: calc(100vh - 131px);

    #homeView {
        width: 400px;
        height: calc(100vh - 132px);
        overflow: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

footer {
    height: 90px;
    background-image: url(https://previews.123rf.com/images/cherezoff/cherezoff1508/cherezoff150800195/44446074-lungo-treno-con-strisce-su-sfondo-bianco-isolato-vista-dall-alto-e-laterale.jpg);
    background-repeat: no-repeat;
    background-position-y: -107px;
    background-position-x: center;
    box-shadow: 0px 0px 20px 7px red;
    position: fixed;

    width: 100%;
    a {
        text-decoration: none;
        color: black;
    }
}
